extends layout

block content
  h1 Welcome to #{title}


  div.container(ng-app="app",ng-controller="usersController")
     table.table.table-striped.table-hover
      thead
         tr
          th #
          th First Name
          th Last Name
          th Email
          th Website
          th Pet
         tbody
          tr(ng-repeat="user in usersList",id="{{user.id}}")
             td {{user.id}}
             td {{user.first_name}}
             td {{user.last_name}}
             td {{user.email}}
             td {{user.website}}
             td {{user.pet}}

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js')
  script(src='/javascripts/users_controller.js')